# Seatwork 1.1 Practice Set 1
Submitted by Lyka Punzalan

##### 1. Type the expressions below, and explain what's happening in each case.

In [30]:
2 ** 16 #raises to the power of 16 (exponent)

65536

In [44]:
2 / 5, 2 / 5.0 
#dividing with a float value will provide the same value

(0.4, 0.4)

In [54]:
#int(2 / 5), 2 / 5.0 
#result: (0, 0.4)
#int = makes the result an integer, rounding off the 0.4 to 0

In [28]:
"spam" + "eggs" #concatenates spam and eggs

'spameggs'

In [26]:
S = "ham" #assignes a string value to variable S

In [36]:
"eggs " + S
#concatenates the eggs with variable S

'eggs ham'

In [38]:
S*5
#repeats the variable S, that contains a string, 5 times

'hamhamhamhamham'

In [84]:
S[:0]
#sclices before 1st letter in ham, returns nothing
#if S[:] no limit in left and right, returns the whole string

''

In [42]:
"green %s and %s" % ("eggs", S)
#Uses old style formatting to insert "eggs" and S ("ham") into the placeholders (%s)

'green eggs and ham'

In [87]:
('x',) [0]
#returns the 1st element in tuple

'x'

In [89]:
('x', 'y') [1]
#returns the 2nd element in tuple

'y'

In [116]:
L = [1,2,3] + [4,5,6] 
#creates an integer list then concatenates it 
L

[1, 2, 3, 4, 5, 6]

In [124]:
L, L[:], L[:0], L[-2], L[-2:] 
#slices the list
#L returns all the elements
#L[:] returns the copy of all list in L
#L[:0] slices before the first elemet thus returning empty
#L[-2] if negative, will start from the right/end, returns 5
#L[-2:] counting starts from the end, returns 2nd to the end up until the last element

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [], 5, [5, 6])

In [126]:
([1,2,3] + [4,5,6]) [2:4] 
#access the 3rd element then prints 4

[3, 4]

In [154]:
[L[2], L[3]]
#returns 3rd and 4th element of the list
#makes another list

[3, 4]

In [146]:
L.reverse();
L
#reverses the list

[6, 5, 4, 3, 2, 1]

In [150]:
L.sort();
L
#sorts in ascending

[1, 2, 3, 4, 5, 6]

In [168]:
L.index(4)
#returns the position of 4 where it 1st occur

3

In [174]:
D = {'x':1, 'y':2, 'z':3}
D
#creates a dictionary

{'x': 1, 'y': 2, 'z': 3}

In [182]:
D['w'] = 0
D
#adds another key value, places in the end

{'x': 1, 'y': 2, 'z': 3, 'w': 0}

In [186]:
D['x'] + D['w']
#adds values of x and w

1

In [192]:
D[(1,2,3)] = 4
D
#adds a tuple as a key which has a value of 4

{'x': 1, 'y': 2, 'z': 3, 'w': 0, (1, 2, 3): 4}

In [196]:
D.keys()
#returns all the keys

dict_keys(['x', 'y', 'z', 'w', (1, 2, 3)])

In [200]:
D.values()
#returns all the values in the dictionary

dict_values([1, 2, 3, 0, 4])

In [204]:
D.has_key((1,2,3)) [[]]
#This fxn is not supperted anymore
#we now us in

AttributeError: 'dict' object has no attribute 'has_key'

In [208]:
(1, 2, 3) in D
#checks if the tuple is in D
#returns true or false
#the tuple is in D, thus returning true

True

##### 2. Define a list named L that contains four strings or numbers. Experiment with the following boundary cases.

In [282]:
L = ['apple', 42, 'banana', 3.14, 'snoop']
# L = [0,   1,  2,  3,  4]
# L = [-5, -4, -3, -2, -1]

In [266]:
L[0]
#index out of bounds
#list has only 0, 1, 2, 3

'apple'

In [268]:
L[-2:10]

[3.14, 'snoop']

In [278]:
L[-3:3]

['banana']

In [290]:
L[0:4:2]
# [Starting position : ending exclusive : interval]

['apple', 'banana']

In [294]:
!jupyter nbconvert --to pdf SW1_1.ipynb

[NbConvertApp] Converting notebook SW1_1.ipynb to pdf
[NbConvertApp] Writing 40714 bytes to notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: ['xelatex', 'notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: ['bibtex', 'notebook']
[NbConvertApp] WARNING | b had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 42727 bytes to SW1_1.pdf