# Seatwork 1.1 Practice Set 1
Submitted by Lyka Punzalan

##### 1. Type the expressions below, and explain what's happening in each case.

In [30]:
2 ** 16 #raises to the power of 16 (exponent)

65536

In [44]:
2 / 5, 2 / 5.0 
#dividing with a float value will provide the same value

(0.4, 0.4)

In [54]:
#int(2 / 5), 2 / 5.0 
#result: (0, 0.4)
#int = makes the result an integer, rounding off the 0.4 to 0

In [28]:
"spam" + "eggs" #concatenates spam and eggs

'spameggs'

In [26]:
S = "ham" #assignes a string value to variable S

In [36]:
"eggs " + S
#concatenates the eggs with variable S

'eggs ham'

In [38]:
S*5
#repeats the variable S, that contains a string, 5 times

'hamhamhamhamham'

In [84]:
S[:0]
#sclices before 1st letter in ham, returns nothing
#if S[:] no limit in left and right, returns the whole string

''

In [42]:
"green %s and %s" % ("eggs", S)
#Uses old style formatting to insert "eggs" and S ("ham") into the placeholders (%s)

'green eggs and ham'

In [87]:
('x',) [0]
#returns the 1st element in tuple

'x'

In [89]:
('x', 'y') [1]
#returns the 2nd element in tuple

'y'

In [116]:
L = [1,2,3] + [4,5,6] 
#creates an integer list then concatenates it 
L

[1, 2, 3, 4, 5, 6]

In [124]:
L, L[:], L[:0], L[-2], L[-2:] 
#slices the list
#L returns all the elements
#L[:] returns the copy of all list in L
#L[:0] slices before the first elemet thus returning empty
#L[-2] if negative, will start from the right/end, returns 5
#L[-2:] counting starts from the end, returns 2nd to the end up until the last element

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [], 5, [5, 6])

In [126]:
([1,2,3] + [4,5,6]) [2:4] 
#access the 3rd element then prints 4

[3, 4]

In [154]:
[L[2], L[3]]
#returns 3rd and 4th element of the list
#makes another list

[3, 4]

In [146]:
L.reverse();
L
#reverses the list

[6, 5, 4, 3, 2, 1]

In [150]:
L.sort();
L
#sorts in ascending

[1, 2, 3, 4, 5, 6]

In [168]:
L.index(4)
#returns the position of 4 where it 1st occur

3

In [174]:
D = {'x':1, 'y':2, 'z':3}
D
#creates a dictionary

{'x': 1, 'y': 2, 'z': 3}

In [182]:
D['w'] = 0
D
#adds another key value, places in the end

{'x': 1, 'y': 2, 'z': 3, 'w': 0}

In [186]:
D['x'] + D['w']
#adds values of x and w

1

In [192]:
D[(1,2,3)] = 4
D
#adds a tuple as a key which has a value of 4

{'x': 1, 'y': 2, 'z': 3, 'w': 0, (1, 2, 3): 4}

In [196]:
D.keys()
#returns all the keys

dict_keys(['x', 'y', 'z', 'w', (1, 2, 3)])

In [200]:
D.values()
#returns all the values in the dictionary

dict_values([1, 2, 3, 0, 4])

In [204]:
D.has_key((1,2,3)) [[]]
#This fxn is not supperted anymore
#we now us in

AttributeError: 'dict' object has no attribute 'has_key'

In [208]:
(1, 2, 3) in D
#checks if the tuple is in D
#returns true or false
#the tuple is in D, thus returning true

True

##### 2. Define a list named L that contains four strings or numbers. Experiment with the following boundary cases.

In [7]:
L = ['apple', 42, 'banana', 3.14, 'snoop']
# L = [0,   1,  2,  3,  4]
# L = [-5, -4, -3, -2, -1]

In [9]:
L[5]
#index out of bounds
#list has only 0, 1, 2, 3

IndexError: list index out of range

In [11]:
L[-2:10]

[3.14, 'snoop']

In [13]:
L[-3:3]

['banana']

In [15]:
L[0:4:2]
# [Starting position : ending exclusive : interval]

['apple', 'banana']

##### 3. Define another list L, perform the following and use comments to explain

In [1]:
L = [1, 'abcde', 2.0, 'xyza', 3, 'aeiou', 4.1, 'lmn']

In [2]:
L.append([5, 'op', 6.2])
#adds the list as an element
L

[1, 'abcde', 2.0, 'xyza', 3, 'aeiou', 4.1, 'lmn', [5, 'op', 6.2]]

In [5]:
L[0:3] = []
L
#removes elements on the range/index 0 to 2

['xyza', 3, 'aeiou', 4.1, 'lmn', [5, 'op', 6.2]]

In [7]:
del L[-3:-1]
L
#deletes elements from the range/index-3 to -2

['xyza', 3, 'aeiou', [5, 'op', 6.2]]

In [9]:
L[0:4] = 3.14

TypeError: must assign iterable to extended slice

##### 4. Create a dictionary named D with three entries, for keys a, b, and c.

In [16]:
D = {'a': 1, 'b': 2.1, 'c':3}
D

{'a': 1, 'b': 2.1, 'c': 3}

In [18]:
D['d']
#raises error, since key 'd' does not exist

KeyError: 'd'

In [23]:
D['d'] = 4
D
#adds another key

{'a': 1, 'b': 2.1, 'c': 3, 'd': 4}

In [21]:
L[4] = 3.14
#earlier list only icludes index 0-3
#Fails if index is out of bounds

IndexError: list assignment index out of range

##### 5. Run tests to answer the following

(+) operator on different/mixed types

In [33]:
L = [1, 'abcde', 2.0] + ['xyza', 3, 'aeiou', 4.1, 'lmn']
L
#adds the elements of the lists in one list

[1, 'abcde', 2.0, 'xyza', 3, 'aeiou', 4.1, 'lmn']

In [39]:
(3.14 + 'hi')
#returns error, does not allow in float and str

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [45]:
([1, 2] + 'hi')
#cannot add str to a list

TypeError: can only concatenate list (not "str") to list

In [48]:
([1, 2] + ['hi'])
#allows adding of list with int and a list with str

[1, 2, 'hi']

(+) on dictionary

In [55]:
L1 = [3, 4]
D1 = {'a': 1, 'b': 2}
L1 + D1
#does not also allows if one is a dictionary

TypeError: can only concatenate list (not "dict") to list

List.append() on both lists and strings

In [59]:
L = [1, 'abcde', 2.0, 'xyza', 3, 'aeiou', 4.1, 'lmn']

In [62]:
L.append([5.2, 6.3, 7.4])
#works on list

In [64]:
L

[1, 'abcde', 2.0, 'xyza', 3, 'aeiou', 4.1, 'lmn', [5.2, 6.3, 7.4]]

In [67]:
L.append('op', 'jrs')

TypeError: list.append() takes exactly one argument (2 given)

In [70]:
L.append('op')
L
#also works on strings

[1, 'abcde', 2.0, 'xyza', 3, 'aeiou', 4.1, 'lmn', [5.2, 6.3, 7.4], 'op']

Concatenating (+) two lists or strings

In [78]:
str1 = 'hel'
str2 = 'lo'
print(str1 + str2)
#works on both str

hello

In [81]:
L1 = [1, 2, 3]
L2 = ['a', 'b', 'c']
L1 + L2
#works on both L

[1, 2, 3, 'a', 'b', 'c']

In [84]:
L1 = [1, 2, 3]
str1 = 'hel'
L1 + str1
#does not work if one is L and one is str

TypeError: can only concatenate list (not "str") to list

In [87]:
S = 'ouch'
S[0] [0] [0] [0]
#returns the first character

'o'

In [91]:
S = 'spam'
S[1] = 'l'

TypeError: 'str' object does not support item assignment

In [94]:
S = 'spam'
S = S[0] + 'l' + S[2:4]
#it works??
S

'slam'